/*width = 1170px*/

body {
    font-size: 16px;
}

.no-margins {
    margin: 0;
}
h2 {
    line-height: 46px;
    text-align: center;
    margin-top: 0;
}
.icon {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
}
ul li {
    list-style-type: none;
}
.red {
    color: #e0182a;
}

.center {
    text-align: center;
}

/*Icons-1*/
.icons-1 {
    padding: 80px 0;
    background-image: url('http://placehold.it/1920x500');
    background-repeat: no-repeat;
}
.icons-1 h2 {
    margin-bottom: 50px;
    color: #FFF;
}
.icons-1 .icon-box {
    width: 98px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.icons-1 h4 {
    color: #FFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
}
.icons-1 .text {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}
/*About*/
.about {
    padding: 90px 0;
}
.about h2 {
    margin-bottom: 30px;
}
.about .description {
    line-height: 24px;
}
.about header {
    margin-bottom: 15px;
}
.about header .icon {
    margin-right: 20px;
    float: left;
}
.about h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
.about .item {
    margin-bottom: 40px;
}

/*Prices-1*/
.prices-1 h2 {
    margin-bottom: 40px;
}
.prices-1 .item {
    margin-bottom: 15px;
    border: 1px solid transparent;
}
.prices-1 .item:hover {
     border-color: #DBDBDB;
 }
.prices-1 .item:hover .details {
    background-color: #FBFBFB;
    border-color: #DBDBDB;
}
.prices-1 .item:hover .details:before,
.prices-1 .item:hover .details:after {
    display: block;
}
.prices-1 .item:hover figcaption {
    background-color: rgba(255,255,255,.8);
    display: block;
}
.prices-1 figure {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.prices-1 figure img {
    margin: 0 auto;
}
.prices-1 figcaption {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 15px;
    display: none;
}
.prices-1 figcaption .wrap {
    display: table;
    width: 100%;
    height: 100%;
}
.prices-1 figcaption .wrap .content {
    display: table-cell;
    vertical-align: middle;
}
.prices-1 figcaption h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666666;
    font-style: italic;
    margin-bottom: 20px;
}
.prices-1 figcaption p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    font-style: italic;
}
.prices-1 .details {
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0px;
    border-top: 1px solid transparent;
    position: relative;
}
.prices-1 .details:before,
.prices-1 .details:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 14px 0px 14px;
    display: none;
}
.prices-1 .details:before {
    top: 0px;
    border-color: #DBDBDB transparent transparent transparent;
}
.prices-1 .details:after {
    top: -1px;
    border-color: #FFF transparent transparent transparent;
}

.prices-1 .details h3,
.prices-1 .details .price {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
}
.prices-1 .details .price {
    font-size: 18px;
}

/*Form-2*/

.form-2 {
    background-color: grey;
    padding: 140px 0;
}
.form-2 h2 {
    text-align: left;
    color: #FFF;
    font-size: 46px;
    line-height: 64px;
}
.form-2 .text,
.form-2 .btn-red {
    font-size: 26px;
    line-height: 40px;
    color: #FFF;
}
.form-2 .btn-red {
    background-color: #F83030;
    line-height: 30px;
}
.form-2 ul {
    padding: 0;
    margin-top: 30px;
}
.form-2 ul li {
    padding-left: 40px;
    position: relative;
    list-style-type: none;
    font-size: 20px;
    line-height: 40px;
}
.form-2 li .tick {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: blue;
}
.form-2 .wrap {
    padding: 40px 20px 45px;
    background-color: #FFF;
    border-radius: 8px;
}
.form-2 .wrap .title {
    color: #463c31;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.form-2 .wrap .text {
    color: #463c31;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.form-2 input[type='submit'] {
    background-color: #FFAD1E;
    border: none;
    height: 50px;
    color: #FFF;
    font-size: 24px;
    line-height: 26px;
}
.form-2 input[type='submit']:hover {
    background-color: #FFB533;
}
form input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 15px;
}

/*Prices-2*/

.prices-2 {
    padding: 100px 0 50px;
}
.prices-2 .text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.prices-2 .table-info {
    width: 100%;
    font-size: 16px;
}
.prices-2 .table-info tr {
    line-height: 20px;
    border: 1px solid #DBDBDB;
}
.prices-2 .table-info td div {
    padding: 23px 0;
}
.prices-2 .table-info tr:nth-child(even) {
    background-color: #F5F5F5;
}
.prices-2 .table-info .name {
    padding-left: 15px;
}
.prices-2 .table-info .price {
    width: 197px;
    padding-left: 35px;
    border-left: 1px solid #DBDBDB;
}

/*Icons-2*/
.icons-2 .prod-box {
    width: 165px;
    height: 165px;
    line-height: 165px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
}

.prod-box.box-1 {
    border-color: #FF4743;
}

.prod-box.box-2 {
    border-color: #B6B6B6;
}

.prod-box.box-3 {
    border-color: #2E33EC;
}

.prod-box.box-4 {
    border-color: #FF6C00;
}

/*Drop-text*/

.drop-text {
    padding: 80px 0;
}

.drop-text article {
    overflow: hidden;
    height: 150px;
    position: relative;
    margin-bottom: 70px;
}
.drop-text h2 {
    margin-bottom: 10px;
}
.drop-text article:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

/*Footer*/

footer.main {
    background-color: #222222;
    padding: 60px 0;
    color: #bebebe;
    font-size: 14px;
}

footer.main .title {
    text-align: center;
    margin-bottom: 10px;
}

footer.main a {
    color: #bebebe;
}

footer.main ul li {
    float: left;
    width: 50%;
}

footer.main img {
    display: inline-block;
}