/*width = 1170px*/

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.no-margins {
    margin: 0;
}
h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-top: 0;
    word-break: break-word;
    word-wrap: break-word;
}
.icon {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: grey;
    display: inline-block;
    vertical-align: middle;
}
ul li {
    list-style-type: none;
}
.red {
    color: #e0182a;
}
.orange {
    color: #ffb533;
}

.center {
    text-align: center;
}

/*To top*/

#to-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 65px;
    bottom: 50px;
    z-index: 700;
    background: url(/library/img/arrow-top.png) no-repeat;
    display: none;
}


/*Header*/

header.menu {
    background-color: #FFF;
    padding: 20px 0;
}
header.menu .row {
    margin: 0 auto;
    position: relative;
}
header.menu .logo {
    float: left;
}
header.menu .right-side {
    float: right;
    width: 75%;
}
header.menu .header-phones a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #555555;
}
header.menu .header-phones {
    position: relative;
    padding-left: 25px;
    float: right;
}
header.menu .header-phones:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(/library/img/header-phone-icon.png) no-repeat;
}
header.menu .header-phones li {
    display: block;
    float: left;
    margin-right: 20px;
}
header.menu .header-phones li:last-child {
    margin-right: 0;
}
.header-nav ul {
    padding: 0;
    float: right;
    margin: 0;
}
.header-nav li {
    float: left;
    margin-left: 55px;
}
.header-nav li:first-child {
    margin-left: 0;
}
.header-nav li a {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
}
.header-nav li a:hover {
    color: #e0182a;
    text-decoration: none;
}

/*Burger*/

#burger {
    width: 41px;
    height: 41px;
    background-color: #FFF;
    position: absolute;
    right: 0;
    top: 12px;
    display: none;
    cursor: pointer;
}
#burger .line {
    background: #333;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25px;
    height: 3px;
    margin: auto;
    -webkit-transition: .4s;
    transition: .4s;
}
#burger .line:before,
#burger .line:after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background: #333;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}
#burger .line:before {
    top: -8px;
}
#burger .line:after {
    top: 8px;
}

/*Dropdown*/

header.menu .dropdown {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 900;
    border-top: 1px solid #e7e7e7;
}

header.menu.active .dropdown {
    /*display: block;*/
}
header.menu .dropdown ul {
    padding: 0;
    margin: 0;
}
header.menu .dropdown ul li {
    padding: 0;
}
header.menu .dropdown li > a {
    padding: 10px 15px;
    line-height: 20px;
    display: block;
    background-color: #FFF;
    color: #777;
    text-decoration: none;
}
header.menu .dropdown li > a:hover {
    color: #212121;
}

/*Main page*/

.main-page {
    padding: 175px 0;
    background: url(/library/img/bg-1.png) 50% 0 no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.main-page .banner {
    width: 586px;
    height: 348px;
    background: url(/library/img/main-banner.png) 50% 0 no-repeat;
    background-size: cover;
    margin: 0 auto;
    color: #FFF;
}
.main-page .banner .title {
    position: relative;
    top: 40px;
}
.main-page .banner h2 {
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
    margin: 0;
}
.main-page .banner h3 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin: 0;
}
.main-page .banner img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 55px;
}
.main-page .banner .text-bottom {
    position: relative;
    top: 65px;
    text-align: center;
}
.main-page .text-bottom span {
    font-size: 26px;
    line-height: 36px;
    display: block;
}
.main-page .text-bottom .orange {
    font-size: 30px;
}
.main-page .trigger {
    position: absolute;
    width: 230px;
    height: 330px;
    background-color: #363636;
    right: -180px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.24);
    padding-left: 50px;
    transition: .5s;
    z-index: 300;
}
.main-page .trigger.active {
    right: 50px;
}
.main-page .trigger:hover {
    background-color: #323232;
}
.main-page .trigger-head {
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    width: 330px;
    -webkit-transform-origin: left;
    transform-origin: left;
    position: absolute;
    text-align: center;
    left: 24px;
    bottom: -25px;
    cursor: pointer;
}
.main-page .trigger-body {
    background-color: #FFF;
    width: 230px;
    height: 100%;
}
.main-page .wrap {
    padding: 10px 16px;
}
.main-page .wrap .text {
    margin: 0 auto 15px;
}
.main-page .trigger-body form {
    text-align: center;
}
.main-page .trigger-body label {
    margin: 0 auto 10px;
    position: relative;
}
.main-page .trigger-body img {
    position: absolute;
    right: 10px;
    top: 9px;
}
.main-page .trigger-body .input-icon-2 {}
.main-page .trigger-body .input-icon-3 {}
.main-page .trigger-body input {
    font-size: 14px;
    color: #b6b6b6;
    width: 200px;
    height: 30px;
    border-radius: 0;
    padding-left: 10px;
    margin: 0;
}
.main-page .trigger-body input::-webkit-input-placeholder,
.main-page .trigger-body textarea {
    font-size: 14px;
    color: #b6b6b6;
}
.main-page .trigger-body textarea {
    margin-bottom: 20px;
    width: 100%;
    resize: none;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    padding: 5px 10px;
}
.main-page .trigger-body input[type="submit"] {
    font-size: 12px;
    color: #FFF;
    font-family: 'Open Sans';
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0;
    background-color: #FF3A42;
    border-radius: 25px;
    display: block;
}
.main-page .trigger-body input[type="submit"]:hover {
    background-color: #EC383F;
}

/*Form-1*/

.form-1 {
    background: url(/library/img/house.png) center no-repeat;
    background-size: 35%;
    padding: 140px 0;
    color: #FFF;
    position: relative;
    z-index: 400;
}
.form-1 .wrap {
    background-color: #EEE3D3;
    padding: 40px 20px 45px;
    border-radius: 8px;
}
.form-1 .text-arrow {
    color: #444444;
    padding: 50px 15px 100px 45px;
    margin-bottom: 20px;
}
.form-1 .text-arrow img {
    width: 100%;
    max-width: 264px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20px;
}
.form-1 .text-arrow h4 {
    font-size: 23px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 15px;
}
.form-1 .text-arrow .text {}
.form-1 .text-arrow .text.lobster {
    font-size: 33px;
    line-height: 30px;
    font-family: Lobster;

}
.form-1 .text-arrow .text.lobster .bg-red {
    font-size: 59px;
    line-height: 60px;
    color: #f83030;
    margin-bottom: 15px;
    display: inline-block;
}
.form-1 .text-arrow .text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

/*Icons-1*/

.icons-1 {
    padding: 80px 0;
    background: url(/library/img/icon-1-bg-1.png) 50% 0 no-repeat;
    background-size: cover;
}
.icons-1 h2 {
    line-height: 36px;
    margin-bottom: 50px;
    color: #FFF;
}
.icons-1 .icon-box {
    width: 98px;
    height: 98px;
    line-height: 94px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.icons-1 .icon-box img {
    max-width: 45px;
    max-height: 45px;
}
.icons-1 h4 {
    color: #FFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
}
.icons-1 .text {
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}

/*About*/
.about {
    padding: 90px 0;
}
.about h2 {
    margin-bottom: 60px;
}
.about h2 .logo-2 {
    display: inline-block;
    width: 250px;
    height: 28px;
}
.about .description {
    line-height: 24px;
}
.about header {
    margin-bottom: 15px;
    display: block;
    position: relative;
    padding-left: 45px;
}
.about header img {
    position: absolute;
    top: 5px;
    left: 0;
}
.about h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    position: relative;
    padding-left: 25px;
    display: inline-block;
}
.about h4:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 15px;
    height: 30px;
    background: url(/library/img/Line.png) no-repeat;
}
.about .item {
    margin-bottom: 40px;
}

/*Our works*/
.our-works-1 .left-side,
.our-works-2 .left-side {
    width: 35%;
    height: 700px;
    float: left;
}
.our-works-1 .right-side,
.our-works-2 .right-side {
    width: 65%;
    height: 700px;
    float: right;
}
.our-works-1 .row .small,
.our-works-2 .row .small {
    width: 41%;
    height: 350px;
    float: left;
    cursor: pointer;
    position: relative;
}
.our-works-1 .row .big,
.our-works-2 .row .big {
    width: 59%;
    height: 350px;
    float: left;
    cursor: pointer;
    position: relative;
}
.our-works-1 .row > div:hover:before,
.our-works-2 .row > div:hover:before,
.our-works-1 .one-big:hover:before,
.our-works-2 .one-big:hover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.our-works-1 .one-big {
    width: 100%;
    height: 700px;
    background: url(/library/img/works-1-1.png) 50% 0 no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
}
.our-works-2 .one-big {
    width: 100%;
    height: 700px;
    background: url(/library/img/works-2-1.png) 50% 0 no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
}
.our-works-1 .row.top .small {
    background: url(/library/img/works-1-2.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-1 .row.top .big {
    background: url(/library/img/works-1-3.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-1 .row.bottom .small {
    background: url(/library/img/works-1-5.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-1 .row.bottom .big {
    background: url(/library/img/works-1-4.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-2 .row.top .small {
    background: url(/library/img/works-2-2.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-2 .row.top .big {
    background: url(/library/img/works-2-3.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-2 .row.bottom .small {
    background: url(/library/img/works-2-5.png) 50% 0 no-repeat;
    background-size: cover;
}
.our-works-2 .row.bottom .big {
    background: url(/library/img/works-2-4.png) 50% 0 no-repeat;
    background-size: cover;
}
.modal-image {
    max-width: 100%;
}

.our-works-2 h2 {
    margin-bottom: 80px;
}
/*Prices-1*/
.prices-1 {
    padding: 100px 0 90px;
}
.prices-1 h2 {
    margin-bottom: 40px;
}
.prices-1 .item {
    margin-bottom: 15px;
    border: 1px solid transparent;
    cursor: default;
    margin: 0 auto;
    max-width: 275px;
}
.prices-1 .item:hover {
     border-color: #DBDBDB;
 }
.prices-1 .item:hover .details {
    background-color: #FBFBFB;
    border-color: #DBDBDB;
}
.prices-1 .item:hover .details:before,
.prices-1 .item:hover .details:after {
    display: block;
}
.prices-1 .item:hover figcaption {
    background-color: rgba(255,255,255,.8);
    display: block;
}
.prices-1 figure {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.prices-1 figure img {
    margin: 0 auto;
}
.prices-1 figcaption {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    display: none;
}
.prices-1 figcaption .wrap {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.prices-1 figcaption .wrap .content {
    display: table-cell;
    vertical-align: middle;
}
.prices-1 figcaption h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666666;
    font-style: italic;
    margin-bottom: 20px;
}
.prices-1 figcaption p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    font-style: italic;
}
.prices-1 .details {
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0px;
    border-top: 1px solid transparent;
    position: relative;
}
.prices-1 .details:before,
.prices-1 .details:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 9px 0px 9px;
    display: none;
}
.prices-1 .details:before {
    top: 0px;
    border-color: #DBDBDB transparent transparent transparent;
}
.prices-1 .details:after {
    top: -1px;
    border-color: #FFF transparent transparent transparent;
}

.prices-1 .details h3,
.prices-1 .details .price {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
}
.prices-1 .details .price {
    font-size: 18px;
}

.prices-1 .row > div:nth-child(4n + 5) {
    clear: both;
}
/*Form-2*/

.form-2 {
    background: url(/library/img/form-2-bg.png) 50% 0 no-repeat ;
    background-size: cover;
    padding: 140px 0;
    color: #FFF;
    position: relative;
    z-index: 400;
}
.form-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 500;
}
.form-2 .container {
    position: relative;
    z-index: 600;
}
.form-2 h2 {
    text-align: left;
    color: #FFF;
    font-size: 46px;
    line-height: 64px;
}
.form-2 .text,
.form-2 .bg-red {
    font-size: 26px;
    line-height: 40px;
    color: #FFF;
}
.form-2 .bg-red {
    background-color: #F83030;
    line-height: 46px;
    padding: 0 10px;
    display: inline-block;
}
.form-2 ul {
    padding: 0;
    margin-top: 30px;
}
.form-2 ul li {
    padding-left: 40px;
    position: relative;
    list-style-type: none;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}
.form-2 li .tick {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: url(/library/img/tick.png) no-repeat;
}
.form-2 .wrap,
.contacts .wrap {
    padding: 40px 20px 45px;
    background-color: #FFF;
    border-radius: 8px;
}
.wrap .title {
    color: #463c31;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.wrap .text {
    color: #463c31;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

form input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #444444;
}
input[type='submit'] {
    background-color: #FFAD1E;
    border: none;
    height: 50px;
    color: #FFF;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Lobster', cursive;
}
input[type='submit']:hover {
    background-color: #FFB533;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #444444;
}

/*Prices-2*/

.prices-2 {
    padding: 100px 0 50px;
    background: url(/library/img/prices-2-bg.png) 50% 0 no-repeat ;
    background-size: cover;
}
.prices-2 .text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.prices-2 .table-info {
    width: 100%;
    font-size: 16px;
}
.prices-2 .table-info tr {
    line-height: 20px;
    border: 1px solid #DBDBDB;
}
.prices-2 .table-info td {
    height: 67px;
    padding-right: 10px;
}
.prices-2 .table-info tr:nth-child(even) {
    background-color: #F5F5F5;
}
.prices-2 .table-info .name {
    padding-left: 15px;
}
.prices-2 .table-info .price {
    width: 197px;
    padding-left: 35px;
    border-left: 1px solid #DBDBDB;
}

/*Icons-2*/

.icons-2 {
    padding: 100px 0 125px;
    background: url(/library/img/icons-2-bg.png) 50% 0 no-repeat ;
    background-size: cover;
    position: relative;
}
.icons-2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19px;
    background: url(/library/img/ellipse.png) 50% 0 repeat-x ;
}

.icons-2 .text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}
.icons-2 .row > div {
    margin-bottom: 25px;
}
.icons-2 .prod-box {
    width: 165px;
    height: 165px;
    line-height: 165px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 auto;
}

.prod-box.box-1 {
    border-color: #FF4743;
}

.prod-box.box-2 {
    border-color: #B6B6B6;
}

.prod-box.box-3 {
    border-color: #2E33EC;
}

.prod-box.box-4 {
    border-color: #FF6C00;
}

/*Drop-text*/

.drop-text {
    padding: 80px 0;
}

.drop-text .hid-text {
    overflow: hidden;
    height: 150px;
    position: relative;
    margin-bottom: 70px;
}
.drop-text .hid-text.active + .btn-extended .arrow-down {
    transform: rotate(-180deg);
}
.drop-text h2 {
    margin-bottom: 10px;
}
.drop-text .hid-text:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
.drop-text .hid-text.active:after {
    opacity: 0;
}
.btn-extended {
    text-align: center;
    cursor: pointer;
}
.arrow-down {
    display: inline-block;
    width: 15px;
    height: 7px;
    background: url(/library/img/arrow-down.png) no-repeat;
    margin-left: 5px;
    transition: .5s;
}

/*Contacts*/

.contacts {
    padding: 85px 0 90px;
    background: url(/library/img/map.png) 50% 0 no-repeat ;
    background-size: cover;
}
.contacts .row > div {
    /*padding: 0;*/
}
/*Footer*/

footer.main {
    background-color: #222222;
    padding: 60px 0;
    color: #bebebe;
    font-size: 14px;
}

footer.main .title {
    text-align: center;
    margin-bottom: 10px;
}

footer.main a {
    color: #bebebe;
}
footer.main ul {
    padding: 0;
}
footer.main ul li {
    float: left;
    width: 50%;
}

footer.main img {
    display: inline-block;
}


/*MEDIA*/

@media screen and (max-width: 1200px) {
    .header-nav li {
        margin-left: 35px;
        max-width: 24%;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .form-1 {
        background-image: none;
    }
    footer.main .copyrights {
        text-align: center;
    }
    footer.main img {
        margin: 20px auto;
    }
    footer.main ul li {
        text-align: center;
    }
    .icons-1 .row > div {
        margin-bottom: 40px;
    }
    .header-nav li {
        margin-left: 15px;
    }
}

@media screen and (max-width: 768px) {
    header.menu .row.bottom {
        display: none;
    }
    header.menu .header-phones li {
        float: none;
    }
    header.menu .row.top {
        padding-right: 70px;
    }
    #burger {
        display: block;
    }
    header.menu .right-side {
        width: 60%;
    }
    .main-page .banner {
        width: 350px;
        height: 208px;
    }
    .main-page .banner h2 {
        font-size: 38px;
        line-height: 50px;
    }
    .main-page .banner .title {
        top: 15px;
    }
    .main-page .banner h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .main-page .banner img {
        top: 23px;
    }
    .main-page .banner .text-bottom {
        top: 25px;
    }
    .main-page .text-bottom .orange {
        font-size: 24px;
    }
    .main-page .text-bottom span {
        font-size: 20px;
        line-height: 24px;
    }
}

@media only screen and (max-width : 480px) {
    header.menu .header-phones {
        display: none;
    }
    header.menu .right-side {
        width: 30%;
    }
    .main-page .banner {
        width: 280px;
        height: 168px;
    }
    .main-page .banner h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .main-page .banner h3 {
        font-size: 20px;
    }
    .main-page .text-bottom .orange {
        font-size: 20px;
    }
    .main-page .text-bottom span {
        font-size: 18px;
        line-height: 20px;
    }
    .about h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .form-1 .text-arrow .text.lobster {
        font-size: 26px;
        line-height: 26px;
    }
    .form-1 .text-arrow .text.lobster .bg-red {
        font-size: 40px;
        line-height: 40px;
    }
    footer.main ul li {
        width: 100%;
    }
}